<div th:fragment="boardFrag" id="board" xmlns:th="http://www.w3.org/1999/xhtml">

    <input type="hidden" id="gameId" th:value="${game.id}">

    <div class="row" style="margin-top:1%; height: 90vh;width: 100vw;">
        <div class="col-md-2" style="text-align:center">

            <th:block th:with="playerInfo=${game.gameInfoDto.playersState.get(game.playerIndex)}" style="margin-top:1%">
                <h3 style="width:100%;text-align:center">Ships Left</h3>
                <div th:each="entry : ${playerInfo.shipCount}" style="width:100%;text-align:center">
                    <span th:text="${entry.value + 'x: ' + entry.key  + '-masts'}"></span>
                </div>
            </th:block>
        </div>
        <div class="col-md-8" style="text-align:center;height:100%;width:100%;">
            <div class="row" style="width:100%;height:5%;">
                <h4 id="info" style="text-align:center;width:100%;margin: auto;"></h4>
            </div>
            <div class="row" style="width:100%;height:5%;">
                <h4 th:if="${game.playerIndex==game.actualPlayer && game.status.name=='IN_PROGRESS'}" style="text-align:center;width:100%;margin: auto;color:red">You turn !</h4>
            </div>
            <div class="row" style="width:100%;height:90%;">
                <div class="col-md-6" style="width:100%;height:100%;">
                    <h3 th:text="${game.players.get(game.playerIndex-1)}" style="width:100%;text-align:center"></h3>
                    <table class="center" style="width:30vw;height:30vw;margin-top:1%">
                        <tr th:each="row : ${game.playerBoard}" style="width:100%">
                            <td th:each="col : ${row}">
                                <div th:style="${'background-color:' + (col.ship==null && col.hit==null? '#43b5d5' : (col.ship!=null && col.hit==null ? 'black' : (col.hit ? 'green' : 'red') )) + '; border: 1px solid;width:100%;height:100%'}"></div>
                            </td>
                        <tr>
                    </table>
                </div>
                <div class="col-md-6" style="width:100%;height:100%;">
                    <h3 th:text="${game.players.get(game.getOpponentIndex()-1)}" style="width:100%;text-align:center"></h3>
                    <table class="center" style="width:30vw;height:30vw;margin-top:1%">
                        <tr th:each="row,iter : ${game.shootingBoard}" style="width:100%">
                            <td th:each="col,iter2 : ${row}">
                                <a href="#" th:if="${game.actualPlayer==game.playerIndex && col.hit==null && game.status.name=='IN_PROGRESS'}"
                                   style="width:100%;height:100%" th:onclick="|shoot(${iter.index},${iter2.index})|">
                                    <div th:style="${'background-color:' + (col.hit==null ? '#43b5d5' : col.hit ? 'green' : 'red') + '; border: 1px solid;width:100%;height:100%'}">
                                    </div>
                                </a>

                                <div th:if="${game.actualPlayer!=game.playerIndex || (game.actualPlayer==game.playerIndex && col.hit!=null) || game.status.name=='FINISHED'} "
                                     th:style="${'background-color:' + (col.hit==null ? '#43b5d5' : col.hit ? 'green' : 'red') + '; border: 1px solid;width:100%;height:100%'}">
                                </div>
                            </td>
                        <tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-md-2" style="text-align:center">
            <th:block th:with="playerInfo=${game.gameInfoDto.playersState.get(game.getOpponentIndex())}" style="margin-top:1%">
                <h3 style="width:100%;text-align:center">Ships Left</h3>
                <div th:each="entry : ${playerInfo.shipCount}" style="width:100%;text-align:center">
                            <span th:text="${entry.value + 'x: ' + entry.key  + '-masts'}"></span>
                </div>
            </th:block>
        </div>
    </div>
</div>